.imageLogo {
  display: flex;
  justify-content: center;
  max-height: 100px;
}
.header {
  display: flex;
  justify-content: center;
}

.options-menu {
  display: flex;
  justify-content: space-around;
}
